{% extends 'artyweb/base.html' %}
{% block title %} List de demande {% endblock %}
{% load static %}
{% block content %}
{% load custom_filters %}

{% if demandes_projet %}
<section>

    {% if user.is_active and not user.is_staff %}
    <center>
        <h1>Consulté l'état d'avancement de votre projet</h1>
    </center>
    {% endif %}
    {% if user.is_superuser %}
    <center>
        <h1>Liste des demandes effectuer par les clients</h1>
    </center>
    {% endif %}
    {% if user.is_staff and not user.is_superuser %}
    <center>
        <h1>La liste de projets a réalisée avec votre equipe</h1>
    </center>
    {% endif %}

    <div class="dep">
        <div class="container">

            <div class="owl-carousel owl-theme dep-post">
                {% for demande in demandes_projet %}
                {% if demande.client == user.client %}
                <!-- AFFICHER LES PROJETS DE CE CLIENT -->
                <div class="dep-content" data-aos="fade-right" data-aos-delay="200">
                    <div class="dep-title">
                        <h2>{{ demande.libelle }}</h2>
                        <br>
                        <p>{{ demande.description }}</p>
                        <h3>{{ demande.date_demande }}</h3>
                        <br>
                        <h4>{{ demande.service }}</h4>
                        <h4>{{ demande.equipe }}</h4>
                        <h3>{{ demande.statut }}</h3>
                    </div>
                </div>
                {% elif user.is_superuser %}
                <!-- AFFICHER TOUS LES PROJETS POUR L'ADMIN -->
                <div class="dep-content" data-aos="fade-right" data-aos-delay="200">
                    <div class="dep-title">
                        <h2>{{ demande.libelle }}</h2>
                        <br>
                        <p>{{ demande.description }}</p>
                        <h3>{{ demande.date_demande }}</h3>
                        <br>
                        <h4>{{ demande.service }}</h4>
                        <h4>{{ demande.equipe }}</h4>
                        <h3>{{ demande.statut }}</h3>
                    </div>
                    <!---------------------- MODIFIER ------------------------->
                    <div class="col-auto" data-aos="fade-up" data-aos-delay="100">
                        <a href="{% url 'modifier_demande_projet' demande.id %}" class="btn btn-primary">
                            <button type="submit" class="btn btn-alert">
                                <i class="fa-solid fa-edit fa-xl"></i></button>
                        </a>
                    </div>
                    <br>
                    <!---------------------- DELETE ------------------------->
                    <div class="col-auto" data-aos="fade-up" data-aos-delay="100">
                        <form method="POST" action="{% url 'supprimer_demande_projet' demande.id %}">
                            {% csrf_token %}
                            <button type="button" class="btn btn-danger"
                                onclick="confirmDelete('{{ demande.libelle }}', this.form)"><i
                                    class="fa-solid fa-trash fa-xl"></i></button>
                        </form>
                    </div><br>
                </div>
                {% elif user|user_belongs_to_team:demande.equipe.nom %}
                <!-- AFFICHER LES PROJETS POUR LES UTILISATEURS DE L'ÉQUIPE -->
                <div class="dep-content" data-aos="fade-right" data-aos-delay="200">
                    <div class="dep-title">
                        <h2>{{ demande.libelle }}</h2>
                        <br>
                        <p>{{ demande.description }}</p>
                        <h3>{{ demande.date_demande }}</h3>
                        <br>
                        <h4>{{ demande.service }}</h4>
                        <h4>{{ demande.equipe }}</h4>
                        <h3>{{ demande.statut }}</h3>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="owl-navigation">
                <span class="owl-nav-prev"><i class="fas fa-long-arrow-alt-left"></i></span>
                <span class="owl-nav-next"><i class="fas fa-long-arrow-alt-right"></i></span>
            </div>
        </div>
    </div>
</section>
{% endif %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function confirmDelete(nom, form) {
        Swal.fire({
            title: 'Êtes-vous sûr?',
            text: "Vous ne pourrez pas annuler cette action!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Oui, supprimez-le!'
        }).then((result) => {
            if (result.isConfirmed) {
                form.submit();
                Swal.fire(
                    'Supprimé!',
                    'Le service a été supprimé.',
                    'success'
                )
            }
        })
    }
</script>
{% endblock %}