{% extends "artyweb/base.html" %}
{% block title %} Resgister {% endblock %}
{% block content %}

<link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.7/dist/tailwind.min.css">
  <link rel="stylesheet" href="https://unpkg.com/tailwind">
<div class="flex justify-center items-center min-h-screen bg-gray-100">
    <div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
        <form method="post" class="space-y-6">
            {% csrf_token %}

            <center><h5 class="text-xl font-medium text-gray-900 dark:text-white">Sign up to our platform</h5></center><hr>

            {% for field in form %}
                <div class="mt-4">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ field.label_tag }}</label>
                    <input type="{{ field.widget.input_type }}"
                           name="{{ field.name }}"
                           id="{{ field.id_for_label }}"
                           class="block w-full py-2 px-4 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-200 dark:bg-gray-700 dark:text-white dark:border-gray-500 @if field.errors %}border-red-500 @endif"
                           {% if field.value %}value="{{ field.value }}"{% endif %}
                           {% if field.errors %}aria-invalid="true" aria-describedby="{{ field.id_for_label }}-error"{% endif %}>
                    {% for error in field.errors %}
                        <p class="text-sm text-red-500 mt-1" id="{{ field.id_for_label }}-error">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endfor %}

            <div class="flex items-start mt-4">
                <div class="flex items-center h-5">
                    <input id="remember_me"
                           type="checkbox"
                           name="remember_me"
                           class="w-4 h-4 text-blue-500 border-gray-300 rounded focus:ring-blue-500">
                </div>
                <label for="remember_me" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Remember me</label>
            </div>

            <div class="mt-4">
                <button type="submit"
                        class="w-full bg-blue-500 hover:bg-blue-600 focus:ring-blue-500 focus:ring-offset-blue-200 text-white font-medium py-2 px-4 rounded-md shadow-sm transition-colors duration-300 ease-in-out">
                    Sign up
                </button>
            </div>

            <div class="flex items-center justify-between mt-4">
                <a href="{% url 'login' %}" class="text-sm font-medium text-blue-500 hover:underline dark:text-blue-300">Already signed up?</a>
            </div>
        </form>
    </div>
</div>
<br><br>
{% endblock %}
