{% extends 'artyweb/base.html' %}
{% block title %} Add Equipe {% endblock %}
{% load static %}
{% block content %}
<br><br>

<section class="section-add-equipe">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>Ajouter un Equipe</h2>
            </div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </form>
            </div>
        </div>
    </div>
</section>
<br><br>
<style>
    .section-add-equipe {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 200px);
    }

    .card {
        max-width: 600px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
    }

    .card-header {
        margin-bottom: 20px;
    }

    .card-header h2 {
        font-size: 30px;
        font-weight: bold;
        margin: 0;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

    .btn-primary:hover {
        background-color: #0069d9;
        border-color: #0062cc;
    }

    .form-control {
        width: 100%;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    label {
        font-weight: bold;
        margin-bottom: 5px;
    }

    input[type="text"],
    textarea {
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    input[type="file"] {
        margin-top: 10px;
    }

    textarea {
        height: 150px;
    }
</style>

{% endblock %}